{% extends 'common/base.html' %}

{% block content %}
    <div class="content-root">
        <div class="content-container-md">
            <section>
                <h4>WELCOME TO</h4>
                <h1>UNIVERSITY MANAGEMENT SYSTEM</h1>
            </section>
            <section class="centered-text-container">
                This is a web application to manage university school and courses. Django is used to create the backend. Frontend is created using HTML and CSS.
            </section>
            <section class="about-developed-by">
                <h5>Developed By</h5>
                <h4>Samantha Zakir</h4>
            </section>
        </div>
    </div>
{% endblock %}