{% extends 'common/base.html' %}

{% block content %}
    <div class="content-root">
        <div class="content-container">
            <h2>Courses</h2>
            <section class="large-list-container">
                {% for course in course_list %}
                    <a href="{% url 'courses.show' id=course.id %}" class="list-item-card">
                        <section class="list-item-card-left">
                            <p class="list-item-card-title">{{ course.name }}</p>
                            <p class="list-item-card-subtitle"><b>School:</b> {{ course.school.name }}</p>
                        </section>
                        <section>
                            <p class="list-item-card-counter">{{ forloop.counter }}</p>
                        </section>
                    </a>
                {% endfor %}
            </section>
        </div>
    </div>
{% endblock %}